@{
    ViewData["Title"] = "Carrinho";
}

<h2>Carrinho</h2>

<p>Aqui será exibido o carrinho de compras!</p>

<button class="btn btn-dark"><a class="nav-link text-white" asp-area="" asp-controller="Pedido" asp-action="Resumo">Finalizar pedido</a></button>
