.imagem_produto {
    max-width: 100%;
}

.ajusta-cabecalho {
    margin-top: 120px;
}

.img-produto-carrinho {
    height: 120px;
    filter: drop-shadow(2px 2px 2px #ccc);
}

.linha-produto {
    margin: 20px;
}
